/* pages/menu/menu.wxss */

.container {
    height: 100%;
    background-color: #e6f6f6;

    .header {
        border-radius: 0 0 16rpx 16rpx;
        height: 35vh;
        margin-bottom: -70rpx;
        overflow: hidden;
        z-index: 1;
        .background {
            display: inherit;
            width: 100%;
        }
    }

    .welcome {
        z-index: 999;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: rgb(255, 255, 255);
        height: 10vh;
        margin: 16rpx;
        border-radius: 16rpx;
        font-size: 40rpx;
        padding: 25rpx;
        border: 1px solid rgb(218, 217, 217);

        .times {
            padding: 10rpx 0;
            font-size: 30rpx;
            color: gray;
        }
    }

    .status {
        margin: 0 5px;

        .info-item {
            height: 10vh;
            background: #fff;
            margin: 10rpx;
            padding-left: 25rpx;
            border-radius: 16rpx;
            font-size: 32rpx;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 1px solid rgb(218, 217, 217);

            .title {
                font-size: 32rpx;
                padding-bottom: 8rpx;
            }
        }
    }

    .content {
        margin: 16rpx;
        background-color: #fff;
        border-radius: 16rpx;
        border: 1px solid rgb(218, 217, 217);

        .gird-text {
            font-size: 32rpx;
        }
    }
}

@font-face {
    font-family: 'iconfont';
    /* Project id 3684512 */
    src: url('//at.alicdn.com/t/c/font_3684512_zf26ywtsaaa.woff2?t=1664940002614') format('woff2'),
        url('//at.alicdn.com/t/c/font_3684512_zf26ywtsaaa.woff?t=1664940002614') format('woff'),
        url('//at.alicdn.com/t/c/font_3684512_zf26ywtsaaa.ttf?t=1664940002614') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 20px;
    font-style: normal;
    padding: 15rpx;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.l-icon-water:before {
    content: "\e640";
}

.l-icon-code:before {
    content: "\e618";
}

.l-icon-memos:before {
    content: "\e60c";
}

.l-icon-daylio:before {
    content: "\e834";
}



// .header-image {
//     width: 100%;
//     position: absolute;
//     top: -10rpx;
//     left: 0;
// }